#register_form fieldset:not(:first-of-type) {
    display: none;
}
/* HIDE RADIO */
[type=radio] { 
position: absolute;
opacity: 0;
width: 0;
height: 0;
}

/* IMAGE STYLES */
[type=radio] + img {
cursor: pointer;
border: 2px solid #DCDADA;
border-radius: 10px;
padding: 20px;
margin: 10px;
}

/* CHECKED STYLES */
[type=radio]:checked + img {
border: 3px solid rgb(9, 255, 0);

}
[type=radio] + img:hover {
border: 3px solid rgb(9, 255, 0);
}
.form-row{
display: block;
}
.alert-success{
    background-image: linear-gradient(to bottom,#ff0000  0,#ff0000  100%) !important;
    border-color:#ff0000  !important;
    color:white  !important;

}
#error-name{
    color: red;
}
#error-prenom{
    color: red;

}
#error-tel{
    color: red;

}
#error-tel2{
    color: red;

}
#error-email{
    color: red;

}
.progress{
    margin-top: 5px  !important;
    list-style-type: none;
    overflow: hidden;
    content: '';
    margin-bottom: 5px !important;
}

@media (max-width: 530px) {  
.situation{
    width:150px  !important;
}
.logo_cpf{
    margin-left: auto  !important;
    margin-right: auto  !important;
    text-align: center !important;
}
}